* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: blueviolet !important;
}

.all-tags > a {
    background: lightskyblue;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 5px;
}

h1 {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}
