* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: blueviolet !important;
}

.post-info {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}